.div_selects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 65px;
}

.div_nuevaEncuesta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 65px;
}

.label{
    font-size: 16px;
    margin-bottom: 5px;
}